$background-color: #FFF;
$primary-border-color: #ccc;
$alt-background-color: #FBF8F5;

.node {
  text {
    font-size: 12px;
    font-family: courier;
    fill: #455a64;
    fill-opacity: 1;
    &.text-bg {
      fill : none;
      stroke: $background-color;
      strok-opacity: 1;
      stroke-width: 6;
      stroke-linejoin: round;
    }
  }
  use {
    pointer-events: all;
    &:hover {
      fill: orange;
      cursor: pointer;
    }
  }

  circle {
    cursor: pointer;
    fill: #F4DD51;
    stroke: #E6AC27;
    stroke-width: 1.5px;
    &.highlight {
      fill: #1c9edb;
      fill-opacity: 0.1;
      stroke: none;
    }
    &.clicker {
      stroke: none;
      fill-opacity: 0;
      &:hover {
        fill: orange;
        fill-opacity: 0.2;
      }
    }
    &.icon-bg {
      fill: $background-color;
      stroke: none;
    }
  }
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}


.icon {
  fill: #333;
  &.web-browser {
    fill: #228DFF;
  }
  &.wifi-high {
    fill: #FF0092;
  }
  &.browser-2 {
    fill: #772A53;
  }
  &.menu {
    fill: #0D6759;
  }
  &.database {
    fill: #FA3C08;
  }
  &.endpoint {
    fill: #607d8b;
  }
  &.exchange {
    fill: #777;
  }
}

/*flow path stuff*/
.flow-icon {
  display: none;
  fill: green;
  &.overlay {
    fill : orange;
  }
}
.group-connect {
  path {
    fill: none;
    stroke: #CCC;
    stroke-width: 1.5px;
    stroke-dasharray: 3, 3;
    &.public {
      stroke: #A0C55F;
    }
  }
}
.group-overlay {
  .flow-icon {
    fill : orange;
  }
  path {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
  }
}
.group-focusPath {
  .flow-icon {
    fill: #1C9EDB;
  }

  path {
    fill: none;
    stroke: #1C9EDB;
    stroke-width: 2px;
  }
}
.group-focusPath-reverse {
  .flow-icon {
    fill: #81d4fa;
  }
  path {
    fill: none;
    stroke: #81d4fa;
    stroke-width: 2px;
  }
}

#flow-path {
  fill: #1C9EDB;
  path {
    fill: #1C9EDB;
  }
}
