/*http://www.google.com/design/spec/style/color.html#color-ui-color-palette*/
/*background-color: #1C9EDB; blue */
/*background-color: hsla(100, 52%, 47%, 1); green*/
/* gold ffc107 */

#top-bar {
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 10;
  background-color: #fffde7;
  a {
    border-right: 1px solid #eee;
  }
}
#top-bar-spacer {
  height: 40px;
}

#steps-wrap {
  position: absolute;
  top:0;
  left:28%;
  height:40px;
  line-height:40px;
}

#steps-count {
  position: relative;
  background-color: #8bc34a;
  padding:0 10px 0 30px;
  height:40px;
  line-height:40px;
  display: inline-block;
  cursor: pointer;
  color:#FFF;
  &:hover {
    background-color: #263238;
    color: #efefef;

    svg {
      fill: #263238;
    }
    em {
      background-color: #37474f;
    }
  }
  svg {
    position:absolute;
    top:-1px;
    right:-30px;
    height:40px;
    width:40px;
    fill: #8bc34a;
  }
  em {
    font-style: normal;
    padding:2px 6px;
    background-color: #7cb342;
    border-radius: 60px;
  }
}

#step {
  display: inline-block;
  height:40px;
  padding-left: 20px;
  line-height:40px;
  color: #555;
  span {
    display: inline-block;
    padding:0 10px;
  }
}

#course-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  z-index: 30;
  height: 40px;
  display: block;
  background-color: #558b2f;
  color: #FDFFFC;
  > * {
    line-height: 40px;
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
  svg {
    position:absolute;
    top:-1px;
    right:-50px;
    width:40px;
    height:40px;
    fill: #558b2f;
  }
}

#courses-toggle {
  float: right;
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #1C9EDB;
  text-decoration: none;
  border-left: 1px solid #fff59d;
  background-color: #FFF;
  border-right: 0;
  &:hover {
    color: #FFF;
    background-color: #1C9EDB;
  }
}

#courses {
  position: absolute;
  top: 40px;
  right: 0;
  width: 28%;
  z-index: 30;
  background-color: #FFF;
  ul {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 4px 0px #ccc;
  }
  &.active ul {
    height: 100%;
  }
  ul li {
    display: block;
    a {
      display: block;
      padding: 10px;
      padding: 10px;
      border-bottom: 1px solid #eee;
      &:hover {
        color: #FFF;
        background-color: #1C9EDB;
      }
    }
  }
}

#world {
  position: absolute;
  top:40px;
  left:28%;
  bottom:0;
  right:0;
  background-color: #FBF8F5;
  > svg {
    width: 100%;
    height: 100%;
  }
}



#table-of-contents {
  z-index: 10;
  position: fixed;
  left: 28%;
  top: 40px;
  bottom: 0;
  width: 0;
  background-color: #fefefe;
  overflow: auto;

  &.active {
    width:28%;
    border-top:1px solid;
    border-right:1px solid;
    border-color: #b0bec5;
  }

  strong {
    display: block;
    padding: 10px;
    font-weight: normal;
  }
  ol {
    padding: 0;
    margin: 0;
    font-size: 13px;
    list-style: none;
    counter-reset: chapter;
    min-width: 200px;
    li {
      color: #555;
      border-bottom: 1px solid #eee;
    }
  }
  li {
    &:hover, &.active {
      color: #FFF;
    }
    &:hover a, &.active a {
      background-color: #263238;
      color: #efefef;
    }
    a {
      display: block;
      padding: 7px 15px;
      text-decoration: none;
      color: inherit;
      font-size: inherit;
      cursor: pointer;

      &:before {
        content: counter(chapter) ". ";
        counter-increment: chapter;
      }
    }
  }

  .keyboard-info {
    font-size:12px;
    color:#777;
    margin-top:20px;
    text-align:center;
  }
}


#prev-next-wrap {
  position: absolute;
  top:40px;
  left:0;
  width:28%;
  z-index: 21;
  box-shadow: 0 -2px 4px 0px #ccc;
  border-bottom: 1px solid #fff59d;
  .divider {
    position: absolute;
    left: 50%;
    width: 1px;
    height:35px;
    background-color: #fff59d;
  }
}
#prev-next {
  width: 100%;
  background-color: #fff9c4;
  margin: 0;
  a {
    height: 35px;
    width: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: #455a64;
    text-decoration: none;
    &:hover {
      background-color: #263238;
      color: #efefef;
    }
  }
}


#description {
  position: absolute;
  top:75px;
  bottom: 0;
  left: 0;
  width: 28%;
  z-index: 20;
  box-shadow: 0 0 4px 0px #ccc;
  overflow: auto;
  background-color: #FFF;

  div {
    font: 14px 'Helvetica Neue';
    color:#333;
    padding: 15px;
    background-color: inherit;

  }
  h1 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }
  p {
    margin:0 0 20px 0;
    line-height: 1.3em;
  }
  a {
    color: green;
    text-decoration: underline;
  }
  pre {
    font-size: inherit;
    overflow: auto;
    background-color: #eee;
    color: #555;
  }
  blockquote {
    color: #777;
  }

  ul, ol {
    line-height: 1.5em;
    li {
      margin-bottom: 5px;
    }
  }
}

#zoom-controls {
  position: absolute;
  bottom:20px;
  right:20px;
  background-color: #FFF;
  box-shadow: 0 0 4px 0 #ccc;
  div {
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
    color: #777;
    cursor: pointer;;
    &:first-child {
      border-bottom: 1px solid #eee;
    }
    &:hover {
      color: #333;
    }
  }
}
