/*
http://www.google.com/design/spec/style/color.html#color-ui-color-palette
http://www.colorzilla.com/gradient-editor/
*/
$background-color: #FFF;
$primary-border-color: #ccc;
$alt-background-color: #212121;

body {
  background-color: $alt-background-color;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(33,33,33,0.8) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(33,33,33,0.8)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(33,33,33,0.8) 0%,rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(33,33,33,0.8) 0%,rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(33,33,33,0.8) 0%,rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(33,33,33,0.8) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc212121', endColorstr='#000000',GradientType=1 );
}
#top-bar {
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 10;
  a {
    border-right: 1px solid #eee;
  }
}

#steps-wrap {
  position: absolute;
  left: 25%;
  width: 50%;
  bottom: 272px;
  z-index: 21;
  height:39px;
  line-height:35px;
}
#steps-count {
  position: absolute;
  top:0;
  right: -1px;
  padding:0 10px 0 20px;
  background-color:#FFF;
  border-left:1px solid;
  border-bottom:1px solid;
  border-color: #EEE;
  height:40px;
  line-height:40px;
  cursor: pointer;
  color: #616161;
  em {
    font-style: normal;
  }
  &:hover {
    background-color: #263238;
    color: #e0e0e0;
  }
}
#courses-toggle {
  float: right;
  display: block;
  line-height: 40px;
  padding: 0 20px;
  color: #90a4ae;
  text-decoration: none;
  background-color: #FFF;
  &:hover {
    color: #efefef;
    background-color: #263238;
  }
}

#courses {
  position: absolute;
  top: 40px;
  right: 0;
  width: 28%;
  z-index: 30;
  background-color: #FFF;
  ul {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 4px 0px #ccc;
  }
  &.active ul {
    height: 100%;
  }
  ul li {
    display: block;
    a {
      display: block;
      padding: 10px;
      padding: 10px;
      border-bottom: 1px solid #eee;
      &:hover {
        color: #efefef;
        background-color: #263238;
      }
    }
  }
}

#world {
  position: absolute;
  top:0;
  left:0;
  height:500px;
  right:0;
  background-color: $background-color;
  overflow: hidden;
  border-bottom: 1px solid #111;
  > svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}



#table-of-contents {
  z-index: 50;
  position: absolute;
  left: 25%;
  bottom: 0;
  width:50%;
  height:0;
  background-color: #263238;
  color: #efefef;

  overflow: auto;
  transition: height 0.5s;
  &.active {
    height:270px;
    border:1px solid #1d262a;
  }

  strong {
    display: block;
    padding: 10px;
    font-weight: normal;
  }
  ol {
    padding: 0;
    margin: 0;
    font-size: 13px;
    list-style: none;
    counter-reset: chapter;
    min-width: 200px;
    li {
      color: #aaa;
      border-bottom: 1px solid #1d262a;
    }
  }
  li {
    line-height: 38px;
    &:hover a, &.active a {
      background-color: #1d262a;
    }
    a {
      display: block;
      padding: 0 15px;
      text-decoration: none;
      color: inherit;
      font-size: inherit;
      cursor: pointer;

      &:before {
        content: counter(chapter) ". ";
        counter-increment: chapter;
      }
    }
  }

  .keyboard-info {
    font-size:12px;
    color:#777;
    margin-top:20px;
    text-align:center;
  }
}


#prev-next-wrap {
  position: absolute;
  bottom:170px;
  left:0;
  width:100%;
}
#prev-next {
  width: 100%;
  margin: 0;
  position:relative;
  a {
    height: 40px;
    font-size: 40px;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #424242;
    text-decoration: none;

    &.prev {
      position: absolute;
      left:19%;
    }

    &.next {
      position: absolute;
      right:19%;
    }
    &:hover {
      color: #e0e0e0;
    }
  }
}


#description {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height:310px;
  z-index: 20;
  border: 1px solid $primary-border-color;
  overflow: auto;
  background-color: #FFF;

  div {
    font: 14px 'Helvetica Neue';
    color:#333;
    padding: 15px;
    background-color: inherit;

  }
  h1 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
  }
  p {
    margin:0 0 20px 0;
    line-height: 1.3em;
  }
  a {
    color: green;
    text-decoration: underline;
  }
  pre {
    font-size: inherit;
    overflow: auto;
    background-color: #eee;
    color: #555;
  }
  blockquote {
    color: #777;
  }

  ul, ol {
    line-height: 1.5em;
    li {
      margin-bottom: 5px;
    }
  }
}

#zoom-controls {
  position: absolute;
  bottom:20px;
  right:20px;
  background-color: #FFF;
  box-shadow: 0 0 4px 0 #ccc;
  i {
    display: block;
    font-size: 14px;
    line-height: 28px;
    min-height: 28px;
    min-width: 10px;
    padding: 0 10px;
    color: #777;
    cursor: pointer;;

    &:first-child {
      border-bottom: 1px solid #eee;
    }

    &:hover {
      color: #333;
    }
  }
}
